body {
  background: radial-gradient(circle, #23272a, #16191b) !important;
  margin: 0;  /* Usunięcie domyślnych marginesów */
}

.Container {
  display: flex;
  flex-direction: column;  /* Ustawiamy flex-direction na column, aby elementy były ustawione jeden pod drugim */
  align-items: center;
  height: 100vh;  /* Pełna wysokość ekranu */
}

 .NavBar {
  width: 70%;  /* Zapewni pełną szerokość paska nawigacyjnego */
  background-color: #150021;  /* Przykładowy kolor tła (bg-secondary) */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
} 

.App {
  text-align: center;
  background-color: #390357;  
  width: 70%;  /* Minimalna szerokość */
}

.Footer{
  background-color: #150021;
  min-height: 5%;
  width: 70%;
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.edit-button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #943ce7;
  color: white;
  cursor: pointer;
}

/* Kolor przycisku po najechaniu */
.edit-button:hover {
  background-color: #7a2fd8; 
  transform: scale(1.1); 
}

.green-button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #0da07e;
  color: white;
  cursor: pointer;
}

.green-button:hover {
  background-color: #0cbf95; 
  transform: scale(1.1); 
}

.cancel-button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #616e6b;
  color: white;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #505856; 
  transform: scale(1.1); 
}

/* przycisk wewnątrz 'tabeli' na MoviePage */
.inside-table-button {  
  background-color: #a294f9; 
  min-width: 60px;
  min-height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: white;  
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 1rem;  
  font-weight: normal;  
}

.inside-table-button:hover {
  background-color: #8e80f5;
  transform: scale(1.05);
}

.outside-table-button {
  background-color: transparent;
  border: 1px solid transparent;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: none;
  color: white;
  transition: all 0.3s ease;

  padding: 10px 10px;     
  font-size: 1.1rem;       
}

.outside-table-button:hover {
  background-color: white;
  color: #212529;
}

.outside-table-button-active {
  background-color: white;
  color: #212529;
}




