.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
}

.form-left, .form-right {
  display: flex;
  flex-direction: column;
}

.form-right textarea {
  height: 100%;
  min-height: 160px; /* dopasuj do potrzeb */
}

.create-collection-container {
  background-color: #1f0f35; 
  color: white;
  min-height: 90vh;
  padding: 1rem 2rem;
  max-width: 70%;
  margin: auto;
  font-family: Arial, sans-serif;
}

.create-collection-container label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: white;
}

.create-collection-container input,
.create-collection-container textarea,
.create-collection-container select {
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 1rem;
  width: 70%; 
   border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}


.create-collection-container input:focus,
.create-collection-container textarea:focus,
.create-collection-container select:focus {
  border-color: #7b6ef6; 
}

.create-collection-container textarea {
  min-height: 80px;
  resize: vertical;
}


.checkbox-row {
  display: flex;
  align-items: center;   
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.checkbox-row input[type="checkbox"] {
  appearance: none;          
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.checkbox-row input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-row label {
  margin: 0;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  user-select: none;
}
